{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Pose ta question à Grampy</legend>
            <div class="form-group">
                <p>
                    Tape ta question et Grumpy te donnera un anecdote sur le lieu
                </p>
                <input type="text" class="form-control" id="user_input">
                <button class="ntn btn-primary" onclick="search_answer();">Histoir</button>
            </div>
        </fieldset>
</div>
{% endblock %}

{% block script %}
<script>

    function search_answer() {

        var user_input = document.getElementById("user_input");

        var entry = {
            user_input: user_input.value
        };

        fetch(`${window.origin}/answer`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                          "content-type": "application/json"
                })
        })
        .then(function(response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function(data) {
                    renderHTML(data);
                });
        })
        .catch(function(error) {
            console.log("Fetch error: " + error);
        });

    };


    function renderHTML(data) {
        var htmlString = data['answer']
        document.getElementById('story').innerHTML = htmlString;
        };

</script>

{% endblock %}
