{% extends 'layout.html' %}
{% block content %}
<div class="col-md-8">
    <div class="content-section">
        <form id="my-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Pose ta question à Grampy</legend>
                <div id="search" class="form-group">
                    <p>
                        Tape ta question et Grumpy te donnera un anecdote sur le lieu
                    </p>
                    {{ form.user_question(class="form-control form-control-lg") }}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
<div class="col-md-4" id="story-block">
    <div class="content-section">
        <h2 class="border-bottom mb-4" id="story-title"></h2>
        <div class="form-group">
            <p id="story"></p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>


    $(function() {

        $("#story-block").hide()

        $("#my-form").submit( function(event){
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/answer",
                data: JSON.stringify({"user_input": $("#user_question").val()}),
                contentType: 'application/json;charset=UTF-8',
                success: function(response) {
                    $("#story-title").html("Grampy répond à ta question sur '" + response.location + "' :");
                    $("#story").html(response.bot_answer);
                    $("#story-block").slideDown(1000);
                },
                error: function() {
                    alert('request error');
                }

            });

        });
    });


</script>

{% endblock %}

