{% extends 'layout.html' %}
{% block content %}
<div class="col-md-8">
    <div class="content-section">
        <form id="my-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Pose ta question à Grampy</legend>
                <div id="search" class="form-group">
                    <p>
                        Tape ta question et Grumpy te donnera une anecdote sur le lieu
                    </p>
                    {{ form.user_question(class="form-control form-control-lg") }}

                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
<div class="col-md-4" id="info-block">
    <div class="content-section">
        <h2 class="border-bottom mb-4" id="info-title"></h2>
        <div id="info" class="form-group">
        </div>
    </div>
</div>

<div class="border-bottom md-8" id="content-block">

</div>
<div id="map"></div>
{% endblock %}

{% block script %}
<script>


    $(function() {

        $("#info-block").hide();
        $("#content-block").hide();

        $("#my-form").submit( function(event){
            $("#info-block").hide();
            $("#content-block").hide();
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/answer",
                data: JSON.stringify({"user_input": $("#user_question").val()}),
                contentType: 'application/json;charset=UTF-8',
                success: function(response) {

                    var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 12, center: response.geometry});
                    var marker = new google.maps.Marker(
                    {position: response.geometry, map: map});

                    $("#info-title").html(response.title);
                    $("#info").html(response.info);
                    $("#info-block").slideDown(1000);

                    $("#content-block").html(response.content);
                    $("#content-block").slideDown(1000)
                },
                error: function() {
                    alert('request error');
                }

            });

        });

    });
    function initMap() {
        var geometry = {lat: 0, lng: 0};
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: geometry});
        var marker = new google.maps.Marker({position: geometry, map: map});
    }


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCN4Pi34z9JNZcfPVjwoOfJsKUdVLy8nI&callback=initMap"></script>
{% endblock %}

